<table>
  <tr>
    <td>
      <a href='index.php'>Главная страница</a>
    </td>
    <td>
      <a href='bio.php'>Биография</a>
    </td>
    <td>
      <a href='links.php'>Ссылки</a>
    </td>
  </tr>
</table>
